/* styles.css */
:root {
  --dark: #2B293D;
  --muted: #888;
  --primary-border: #0f84b6;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;

}


.container {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
}


.left {
  width: 45%;
  background: var(--dark);
  color: #fff;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}


.logo {
  display: flex;
  align-items: center;
  gap: 1px;
  font-weight: 800;
  font-size: 24px;
  margin: 0;
}

.logo-text {
  color: yellow;

}

.maintext {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}


.p1 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 50px;
  width: 400px;
  margin-bottom: 0;
}

.p2 {
  font-size: 36px;
  font-weight: 600;
  width: 450px;
  margin-top: 0%;
}





.right {
  width: 55%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 50px 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  margin-left: -45px;
}


.mainr {
  width: 640px;
  max-width: 92%;
  background: #fff;
  padding: 10px 64px;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  margin-bottom: 10px;

}


.close {
  position: absolute;
  right: 18px;
  top: 0px;
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #bdbdbd;
  cursor: pointer;
}

.title {
  font-size: 34px;
  margin-bottom: 18px;
  color: #222;
  font-weight: 600;
  margin-bottom: 30px;
}


.social-box {
  display: flex;
  gap: 18px;
  margin-bottom: 40px;

}

.social {
  flex: 1;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social.google img,
.social.fb img {
  width: 30px;
  padding: 0 10px;

}

.social.google:hover {
  transition: 1s;
  background-color: #d7d7d75b;
}

.social.fb:hover {
  transition: 1s;
  background-color: #d7d7d75b;
  ;
}


.OR {

  text-align: center;
  color: #A3A3A3;
  margin: 25px 0;
  padding: 0;
  font-weight: 300;
  position: relative;
  font-size: 20px;
}

.OR::before,
.OR::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background: #e6e6e6;
}

.OR::before {
  left: 0;
  transform: translateY(-50%);
}

.or::after {
  right: 0;
  transform: translateY(-50%);
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 6px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field-label {
  font-size: 14px;
  color: #777;
  font-weight: 400;
}


input[type="email"],
input[type="password"],
input[type="name"],
input[type="text"] {
  padding: 12px 14px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  /* margin-bottom: 15px; */
}

.input-error {
  color: red;
  font-size: 12px;
  /* margin-top: 4px; */
}

::placeholder {
  color: #aaa;
  font-size: 14px;
}


.login-btn {
  margin-top: 6px;
  background: var(--dark);
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 0;
  font-weight: 500;
  cursor: pointer;
  transition: .4s;
}

.login-btn:hover {

  background-color: #1f1d28d1;

}




.signup {
  text-align: left;
  margin-top: 28px;
  color: #666666b0;
  font-size: 14px;

}


.signup a {
  color: #0b7fb0;
  font-weight: 400;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;

}

.field-checkbox {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.field-checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
}

.field-checkbox label {
  font-size: 14px;
  font-weight: 400;
  color: #444;
  cursor: pointer;
}
